@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap");
:root {
  --primary: #88a7ca;
  --white: #fff;
  --gray: #f4f4f4;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Inter", sans-serif;
}

/* rest  */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font-family);
}
p::selection {
  background-color: var(--primary);
  color: var(--gray);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
hr {
  border: 0.5px solid var(--gray);
}
body {
  width: 1200px;
  margin-inline: auto;
  margin-block: 16px;
  background-color: var(--gray);
}

main {
  padding-block: 32px;
  background-color: var(--white);
}

/* common styles of sections */
.header,
.contact,
.skills,
.experience,
.education,
.language {
  margin-block: 16px;
  padding-inline: 32px;
}

.skills__section-title,
.experience__section-title,
.education__section-title,
.language__section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  margin-block: 8px;
}

/* Header Section  */
.header {
  margin-block: 0;
  display: grid;
  grid-template-columns: 160px auto;
}
.header img {
  border-radius: 50%;
}
.header div * {
  margin-block: 8px;
}

.header h1 {
  font-family: var(--primary-font-family);
  font-size: 2.2rem;
  font-weight: 700;
}

.header h2 {
  opacity: 75%;
  font-weight: 600;
}

/* contact  */
.contact {
  background-color: var(--gray);
}

.contact ul {
  height: 34px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
}

.contact ul li a {
  color: black;
}

.contact ul li a:hover {
  color: cornflowerblue;
}

/* Skills */

.skills ul {
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 16px;
}
.skills__skill {
  background-color: var(--primary);
  color: var(--gray);
  padding-inline: 8px;
  padding-block: 4px;
  border-radius: 5px;
  cursor: pointer;
}
.skills__skill:hover {
  color: black;
  background-color: var(--gray);
  transition: 0.9s;
}

/* Experience  And Education */

.experience__exp,
.education__institute {
  display: grid;
  grid-template-columns: 75px auto;
  gap: 8px;
  margin-block: 8px;
}

.experience__role,
.education__course {
  font-size: 1rem;
  font-weight: 600;
  margin-block: 4px;
}

.experience__org {
  font-size: 0.9rem;
}
.education__timeline-location,
.experience__timeline-location {
  display: flex;
  justify-content: space-between;
  margin-block: 4px;
  font-size: 0.8rem;
}

/* Language */

.language ul {
  display: grid;
  grid-template-columns: repeat(14, auto);
  gap: 8px;
}
.language ul li {
  background-color: var(--primary);
  color: var(--gray);
  padding-inline: 8px;
  padding-block: 4px;
  border-radius: 5px;
  cursor: pointer;
}
.language ul li:hover {
  color: black;
  background-color: var(--gray);
  transition: 0.9s;
}

/* responsive  */
@media all and (min-width: 768px) and (max-width: 1210px) {
  body {
    width: auto;
    background-color: var(--white);
  }
  main {
    width: auto;
  }
  /* skills */
  .skills ul {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* mid size mobile to min tabs */
@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    width: auto;
    background-color: var(--white);
  }
  main {
    width: auto;
  }
  .contact ul {
    padding: 8px;
    height: auto;
    grid-template-columns: 1fr;
  }
  .contact ul li {
    margin-block: 8px;
  }
  /* skills */
  .skills ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* mini mobile   */
@media all and (max-width: 480px) {
  body {
    width: auto;
    background-color: var(--white);
  }

  main {
    padding-block: 16px;
  }

  .skills__section-title,
  .experience__section-title,
  .education__section-title,
  .language__section-title {
    margin-block: 16px;
  }

  .header {
    grid-template-columns: 1fr;
    padding-block: 16px;
  }

  .header img {
    margin-inline: auto;
    margin-block: 8px;
  }

  .header p {
    line-height: 1.8;
  }

  /* contact  */
  .contact ul {
    padding: 16px;
    height: auto;
    grid-template-columns: 1fr;
  }
  .contact ul li {
    margin-block: 10px;
  }
  /* skills */
  .skills ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
